.btn{
    display: block;
    margin: 10px auto;
    background-color: white;
    padding: 1rem;
    border: 1px solid black;
    border-radius: 7px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    cursor: pointer;
}

label {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0 10px;
}

#container {
    background-color: black;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 500px;
    height: 500px;
}

#options {
    display: flex;
    margin: 1rem auto;
    width: 500px;
}

.line {
    display: flex;
    flex-grow: 1;
}

.pixel{
    background-color: #BBB;
    flex-basis: 6%;
    flex-grow: 1;
}